.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #f0ad4e;
    border-radius: 15px;
}